.btn-xs, .btn-group-xs > .btn {
    padding: 0.125rem 0.25rem;
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0.1rem;
}

.border-square {
    border-radius: 0 !important;
}
.border-rounded {
    border-radius: 20px !important;
}

.border-rounded-left {
    border-top-left-radius: 20px !important; 
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-right: 3px ;
}

.border-rounded-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    padding-left: 3px;
}

.w-25px {
    width: 25px;
}

.w-30px {
    width: 30px;
}

.h-3px {
    height: 2px;   
}

div{
    font-family: Microsoft JhengHei;
}

.number {
    width: 40px;
    font-weight:bold;
    font-size: 10px;
    text-align: center;
    vertical-align: center;
    background-color: wheat;
    padding-top:4px;
}

.type-title {
    background-color: #64B5F6;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 37px;
}

.type-label {
    padding: 1px;
    width: 120px;
    font-size: 14px;
}

.type-element {
    padding-top: 2px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.block {
    background-color: #BBDEFB;
    border-radius: 8px;
    margin-bottom: 2px;
    padding-bottom: 3px;
    min-height: 80px;
}

.label-tag {
    background-color: #b9f6ca;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    margin-bottom: 5px;
}

