* {
    font-family: Microsoft JhengHei;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0.125rem 0.25rem;
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0.1rem;
}

.border-square {
    border-radius: 0 !important;
}
.border-rounded {
    border-radius: 20px !important;
}

.border-rounded-left {
    border-top-left-radius: 20px !important; 
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-left: 3px !important;
}

.border-rounded-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    padding-right: 3px !important;
}

.block {
    background-color: #BBDEFB;
    border-radius: 8px;
    margin-bottom: 2px;
    padding-bottom: 3px;
    min-height: 80px;
}

.head {
    font-size: 36px;
    font-weight: bold;
    padding-right: 5px;
    margin-bottom: 0px;
}

form[class ~= block] > div[class ~= title] {
    background-color: #64B5F6;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 37px;
}

div[class ~= title] ~ div[class ~= element] {
    padding-top: 2px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

div[class ~= head] ~ div[class ~= label] {
    background-color: #b9f6ca;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

div[class ~= input-group] > div[class ~= label] {
    padding: 1px;
    width: 120px;
    font-size: 14px;
}

div[class ~= input-group] > div[class ~= label] ~ div[class ~= btn-xs] {
    padding : 0;
    width: 25px;
    text-align: center;
    height: 24px;
    line-height: 23px;
}

div[class ~= input-group] > div[class ~= label] ~ div[class ~= number] {
    width: 40px;
    font-weight:bold;
    font-size: 10px;
    text-align: center;
    background-color: wheat;
    height: 24px;
    line-height: 24px;
}

div[class ~= input-group] ~ div[class ~= progress], 
div[class ~= form-check] ~ div[class ~= progress] {
    height: 2px;
}

div[class ~= input-group] > select {
    width: 140px;
    padding-left: 5px;
}