/*-----------------通則-----------------*/
div[class ~= element] {
    margin-top: 5px;
    margin-bottom: 5px;
}

div[class ~= element] > div[class ~= input-group] img {
    width: 25px;
    height: 25px;
}

div[class ~= element] > div[class ~= input-group] > label[class ~= left] {
    margin-right: auto;
    min-width: 85px;
    padding: 1px;
    font-size: 14px;
    text-align: left;
}

div[class ~= element] > div[class ~= input-group] {
    height: 25px;
    width: 100%;
    padding-left: 0;
}

input {
    -webkit-appearance: none;
}

/*range slider*/
div[class ~= element] > div[class ~= input-group] div[class ~= range-slider] {
    /*width: calc(100% - 85px);*/ /*label width = 85px*/
    width: 100%;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 5px;
}

.ui-slider-range { 
    background: rgb(235, 147, 75);
}

div[class ~= range-slider] > div[class ~= ui-slider-handle] {
    width: 25px;
    height: 25px;
    text-align: center;
    top: -7px;
    padding-top: 11px;
    line-height: 0px;
}

div[class ~= range-slider] > div[class ~= ui-slider-handle]:active {
    background: rgb(243, 180, 122);
}

/*-----------------Price Block-----------------*/
form[class ~= price] > div[class ~= element] > div[class ~= input-group] > input {
    width: 100px;
    text-align: right;
    padding-right: 5px;
    border-radius: 3px;
}

/*-----------------HaveNeed Block-----------------*/
form[class ~= need] > div[class ~= element] > div[class ~= input-group] input {
    border-radius: 0px;
}

form[class ~= need] > div[class ~= element] > div[class ~= input-group] input[type = number],
form[class ~= need] > div[class ~= element] > div[class ~= input-group] div[class ~= total] {
    width: 50px;
    border:1px solid #ced4da;
}

form[class ~= need] > div[class ~= element] > div[class ~= input-group] > input[type = number] {
    text-align: right;
    border-right: 0px;
}

form[class ~= need] > div[class ~= element] > div[class ~= input-group] div[class ~= total] {
    border-left: 0px;
    background-color: #fff;
}

form[class ~= need] > div[class ~= element] > div[class ~= input-group] div[class ~= total] > label > span {
    margin-left: 5px;
    
    text-align: center;
}

/*btn total group*/
div[class ~= input-group] div[class ~= btn] {
    border: 1px solid #ced4da;
    background-color: #e0e2e6; 
    outline: none;
} 

div[class ~= input-group] div[class ~= btn]:hover {
    background-color: #aeb1b3ec;
}

div[class ~= input-group] div[class ~= btn-xs] {
    padding : 0;
    width: 25px;
    text-align: center;
    height: 24px;
    line-height: 23px;
}

div[class ~= input-group] div[class ~= clear] {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 7px;
}

/*prrgressbar*/
form[class ~= need] > div[class ~= element] > div[id *= Bar],
form[class ~= need] > div[class ~= element] > div[class ~= progress] {
    height: 4px;
}

/*-----------------Output-----------------*/

footer form[class *= col] {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid white;
}

div[class ~= element] > ul {
    margin-bottom: 0px;
    padding-left: 20px;
}

div[class ~= element] > ul > li {
    height: 30px;
    padding-top: 2px;
    margin-left: 0px;
    font-size: 14px;
}

div[class ~= element] > ul > li:hover {
    border-bottom: 1px solid gray;
}

div[class ~= element] > ul > li > span {
    float: right;
}

/*table*/
table {
    text-align: right;

}

table img {
    width: 25px;
    height: 25px;
}

table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

table tr[class ~= title] {
    text-align: center;
}

table tr[class ~= title],
table tr:hover {
    border-bottom: 1px solid gray;
    font-weight: bold;
}

table td[class = ""],
table td[class *= need] {
    text-align: center;
    padding-right: 0px;
}

table th,
table td {
    border-right: 1px solid gray;
}

table [class *= need],
table [class = market] {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

table [class *= cost] {
    padding-right: 5px;
}

table th[id = col1] {
    width: 4%;
}

table th[id = col2],
table th[id = col3] {
    width: 21%;
}

table th[id = col4] {
    width: 16%;
}

table th[id = col5],
table th[id = col6] {
    width: 19%;
}



@media screen and (max-width: 767px) {
    /*range slider*/
    div[class ~= element] > div[class ~= input-group] div[class ~= range-slider] {
        /*width: calc(100% - 85px - 0px);*/ /*label width = 85px, rangeslider margin-right width = 50px*/
        /*margin-right: 0px;*/
        margin-left: 5px;

    }

    /*btn total group*/
    div[class ~= element] > div[class ~= input-group] > input[type = number] {
        padding-right: 10px;
    }

    /*Output table*/
    table [class = costEquipment],
    table [class = costConsumables] {
        display: none;
    }

    table th,
    table td {
        border: 0px;
    }

    table th[id = col2],
    table th[id = col3] {
        width: 7%;
    }
}
